@font-face {
    font-family: GOT;
    src: url(GOT.ttf);
}

h1{
    font-family: GOT;
    font-size: 15rem;
    margin-top: -60px;
}

header{
    background-image: url("../images/mainhead.jpg");
}

.welcome{
    font-size: 1.5rem;
    margin-top: 80px;
}

.mainnav{
    background-color: none;
}

.embark{
    padding-top: 20px;
    padding-bottom: 40px;
}

.exp{
    padding-bottom: 40px;
    padding-top: 0px;
}
