@font-face {
    font-family: got;
    src:url(../fonts/got.ttf)
}

@font-face {
    font-family: 'Georgia Regular';
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/georgia.woff');
    }

    .bg-light{
    color: none!important;
    }

h1{
    font-family: 'got';
    font-size: 12rem;
    margin-top: -40px;
    padding-top: 32px;
}

.exptop{
    padding-bottom: 65px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: 'Georgia Regular';
    font-size: 1.5rem;
}

.welcomehr hr{
    stroke: 6pt solid #342D22;
}
.homeheader{
    background-image: url("../images/mainhead.jpg");
}

.welcome{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
    margin-top: 80px;
}

.winterwelcome{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
    margin-top: 80px;
    color: #CDD1C7;

}

.embark{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
    margin-top: 40px;
    color: white;
}

.embark2{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
    margin-top: 40px;
    color: white;
    padding-top: 60px;
    text-align: center;
}

.mainnav{
    background-color: none;
}

.embark{
    padding-top: 20px;
    padding-bottom: 40px;
    
}

.exp{
    padding-bottom: 40px;
    padding-top: 0px;
}

.homeh3{
    font-family: 'got';
    font-size: 3rem;
    padding-top: 60px;
    line-height: 4rem;
}

.homep{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
}

.home1{
    padding-top: 160px;
}

.home2{
    padding-top: 160px;
    padding-bottom: 160px;
}

.regions{
    background-image: url("../images/regionback.jpg");
    width: 100%;
    overflow: hidden;
}

.regionsh2{
    font-family: 'got';
    font-size: 10rem;
    padding-top: 260px;
    color: white;
    text-align: center;
}

.maph2{
    font-family: 'got';
    font-size: 10rem;
    padding-top: 120px;
    color: #342D22;
    text-align: center;
}

.regionspikes{
    margin-left: -80px;
    margin-top: -215px;
    padding-bottom: 576px;
}

.galleryspikes{
    margin-left: -90px;
    margin-top: -215px;
}

.tap{
    padding-top: 100px;
}

.banners{
    margin-top: -500px;
    padding-bottom: 250px;
}

.mappic{
    margin-top: -480px;
    padding-bottom: 72px;
}

.bot{
    padding-top: 20px;
    padding-bottom: 60px;
}

.galleryh2{
    font-family: 'got';
    font-size: 10rem;
    padding-top: 200px;
    color: #342D22;
    text-align: center;
}

.foot{
    background-image: url("../images/footerback.svg");
}



.dropdown-menu{
    background-color: none!important;
    border: none!important;
}

.footertext ul{
    margin-top: 0px;
    padding-bottom: 160px;
}

.reg{
    margin-left: 159px;
    font-family: 'Georgia Regular';
    font-size: 1rem;
    color: #fff;
    list-style: none;
}

.faqfoot{
    margin-left: 324px;
    list-style: none;
    font-family: 'Georgia Regular';
    font-size: 1rem;
    color: #fff;
}

.footytext{
    font-family: 'got';
    font-size: 1.2rem;
    color: #fff;
    margin-top: 174px;
    margin-left: 160px;
}

.navbar-light .navbar-nav .nav-link{
    font-family: 'Georgia Regular';
    font-size: 1.2rem;
}

.exp2{
    padding-bottom: 150px;
}

.exp:hover{
    opacity: 50%;
}

.exp2:hover{
    opacity: 50%;
}

.exptop:hover{
    opacity: 50%;
}

hr{
    border: 4px solid #342D22;
    opacity: 100%;
}

.logo{
    padding-top: 20px;
}

.logo:hover{
    opacity: 50%;
}

.kingsheader{
    background-image: url("../images/kingslanding.jpg");
    background-size: cover;
}

.king{
    font-family: 'got';
    font-size: 7.99rem;
    margin-top: -40px;
    padding-top: 62px;
    color: #882924;
}

.kingspike{
    margin-left: -190px;
    margin-top: -170px;
}

.lion{
    margin-left: 570px;
    padding-top: 60px;
    padding-bottom: 172px;
}

.kingp{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
    padding-top: 120px;
}

.stormheader{
    background-image: url("../images/stormsend.jpg");
    background-size: cover;
}

.storm{
    font-family: 'got';
    font-size: 7.99rem;
    margin-top: -40px;
    padding-top: 62px;
    margin-left: 100px;
    color: #4B5360;
}

.stormspike{
    margin-left: -112px;
    margin-top: -170px;
}

.winterheader{
    background-image: url("../images/winterhead.jpg");
    background-size: cover;
}

.winter{
    font-family: 'got';
    font-size: 7.99rem;
    margin-top: -40px;
    padding-top: 62px;
    margin-left: 100px;
    color: #CDD1C7;
}

.winterspike{
    margin-left: -112px;
    margin-top: -170px;
}

.winterhr hr{
    stroke: 6pt solid #CDD1C7!important;
}

.gardenheader{
    background-image: url("../images/gardenhead.jpg");
    background-size: cover;
}

.garden{
    font-family: 'got';
    font-size: 7.99rem;
    margin-top: -40px;
    padding-top: 62px;
    margin-left: 100px;
    color: #556146;
}

.gardenspike{
    margin-left: -112px;
    margin-top: -170px;
}

.attract{
    font-family: 'got';
    font-size: 9.2rem;
    margin-top: -10px;
    padding-top: 32px;
}

.about{
    font-family: 'got';
    font-size: 6rem;
    margin-top: -10px;
    padding-top: 200px;
    text-align: center;
}

.attract{
    font-family: 'got';
    font-size: 9.2rem;
    margin-top: -10px;
    padding-top: 32px;
}

.attractions{
    margin-top: 100px;
    background-image: url("../images/attractback.svg");
    padding-bottom: 260px;
}

.aboutheader{
    background-image: url("../images/abouthead.png");
    padding-bottom: 200px;
    background-size: cover;
}

.home3{
    padding-top: 250px;

}

.home4{
    padding-top: 160px;

}

.home5{
    padding-top: 160px;
}

.homeh3attract{
    font-family: 'got';
    font-size: 3rem;
    padding-top: 60px;
    line-height: 4rem;
    color: #fff;
}

.homepattract{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
    color: #fff;
}

.attract1{
padding-top: 200px;
padding-bottom: 120px;
}

.attract1 p{
    font-family: 'got';
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
}

.attract2{
    padding-bottom: 120px;
}

.attract2 p{
    font-family: 'got';
    font-size: 2rem;
    text-align: center;
    padding-top: 30px;
}

.more h2{
    font-family: 'got';
    font-size: 5rem;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.more img{
    justify-content: center;
    padding-bottom: 120px;
}

.more img:hover{
    opacity: 50%;
}

.fire h2{
    font-family: 'got';
    font-size: 3rem;
    padding-top: 80px;
    padding-bottom: 40px;
}

.ice{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
}

.mapp{
    font-family: 'Georgia Regular';
    font-size: 1.8rem;
    color: #342D22;
    padding-bottom: 124px;
    text-align: center;
    padding-bottom: 120px;
}

.abouth3{
    padding-top: 22px;
    font-family: 'got';
    font-size: 3rem;
    line-height: 4rem;
}



.mapspikes{
    margin-left: 150px;
    margin-top: -215px;
    padding-bottom: 576px;
}

.about4{
    padding-bottom: 120px;
}

.bottomspikes img{
    margin-left: -120px;
    margin-top: -329px;
    padding-bottom: 20px;
}

