/*colors*/
$dark-brown: #342D22;
$mute-red: #864F4F;
$grey: #8D8679;
$white: #fff;
$king-red: #882924;
$king-yellow: #ECB94B;
$storm-grey: #4B5360;
$storm-blue: #D5DFED;
$winter-grey: #CDD1C7;
$winter-black: #2D312E;
$high-green: #556146;
$high-yellow: #DFCC74;